@import "tailwindcss";

:root {
  --background: #fff7fb;
  --foreground: #2a1023;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050312;
    --foreground: #fdf2ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
